html {
  box-sizing: border-box;
  font-size: 62.5%;
}*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --naranja-primario: #F16B4E;
  --negro-primario: #1e1e1e;
  --negro-secundario: #222222;
  --blanco-primario: #FFF;
  --sombra-primaria: #9a9a9a;
}

body{
  background-color: #f6f6f6;
  color: var(--negro-primario);
  font-family: "Inter" , sans-serif;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

a{
  text-decoration: none;
}

h1{
  text-align: center;
  font-size: 5rem;
}

h2{
  font-size: 3.5rem;
}

h3{
  font-size: 3rem;
  margin: 1rem;
}

h4{
  font-size: 2rem;
  margin: 1rem;
}

/* Section principal*/

.div_principal_contenido{
  height: auto;
}
