.div_principal_cart_summary{
    display: grid;
    grid-template-columns: 65% 35%;
}

.div_principal_li_cart_summary{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.div_cart_summary_img img{
    max-width: 15rem;
}

.li_cart_summary{
    border-bottom: 1px solid var(--negro-primario);
    margin: 1.5rem 0;
    list-style: none;
}

.div_title_cart_summary{
    text-align: center;
    margin-top: 3rem;
}

.div_cart_summary_btn_eliminar{
    margin: 1rem;
    text-align: right;
}

.div_cart_summary_quantity_control{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.div_cart_summary_checkout{
    border: 1px solid var(--negro-primario);
    margin: 2rem;
    min-height: 35rem;
    max-height: 35rem;
    width: 55rem;
}

.div_btn_buy{
    margin-top: 6rem;
    text-align: center;
}

.btn_buy{
    font-size: 4rem;
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--blanco-primario);
    transition: .1s all linear;
    background-color: #28a745;

}

.btn_buy:hover{
    background-color: #218838;

}