/* Header */
.div_header_navegacion_principal{
    background-color: var(--negro-primario);
    height: 12.5rem;
    box-shadow: 0 1rem 1rem -0.1rem var(--sombra-primaria);
}

.navegacion_principal{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    margin: 0rem 5rem;
    align-items: center;
    height: 100%;
}

#div_iniciar_sesion{
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.navegacion_p_iniciar_sesion{
    font-size: 2.5rem;
    transition: color 0.5s ease-in-out;
    color: var(--blanco-primario);
    width: 100%;
}

.navegacion_p_iniciar_sesion:hover{
    color:var(--naranja-primario);
    transition: color 0.3s ease;
}

#navegacion_logo_id{
    text-align: right;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.div_column_shopping_cart {
    justify-items: center;
    text-align: center;
    grid-column-start: 7;
}

.navegacion_div{
    display: inline;
    width: 100%;
    height: 2rem;
}

.div_column_navegacion{
    text-align: center;
    grid-column: 2 / 6;
}

#navegacion_p_last_child{
    margin-right: 1rem;
}

.navegacion_p{
    font-size: 2.5rem;
    display: inline;
    transition: color 0.5s ease-in-out;
    color: var(--blanco-primario);
    margin-right: 5rem;
}

.navegacion_div p:hover{
    color:var(--naranja-primario);
    transition: color 0.3s ease;
}

#logo{
    max-width: 9rem;
    transform: scale(1.0);
    margin-right: 1rem;
    transition: all 0.3s ease;
}

#logo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.shopping_cart{
    font-size: 3rem;
}

.cart_count {
    position: absolute;
    top: 3rem;
    right:17rem;
    background-color: var(--naranja-primario);
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: .5rem;
}

/* Device phone */
@media screen and (max-width: 767px) {
    .div_header_navegacion_principal{
        background-color: crimson;
    }

}

/* Tablets */

@media screen and (min-width: 768px) and (max-width: 1199px) {

}



  /* Header */