.li_img_product {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
    aspect-ratio: 3/2;
    transition: .2s all linear;
}

.store-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    gap: 1rem;
    min-height: 70vh;
}

.div_container_product{
    min-height: 30rem;
}

.li_img_product:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s all linear;
}

.store-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.6rem;
    justify-content: center;
}

.ul_itemslist{
    grid-template-columns: 2 / 5;
}

@media (min-width: 1024px) {
    .store-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.ul_itemslist {
    list-style-type: none;
    display: contents;
}

.ul_itemslist li{
    padding: 2rem;
}

.li_itemslist {
    background-color: var(--blanco-primario);
    border-radius: .5rem;
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
    max-height: 40rem;   
}

.li_itemslist h3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.li_itemslist img{
    margin-top: 1.5rem;
}

.div_details{
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 10rem;
    font-size: 1.2rem;
    border: .2rem solid var(--negro-primario);
    color: var(--negro-primario);
    transition: all .2s linear;
}

.div_details:hover{
    cursor: pointer;
    background-color: var(--negro-primario);
    font-weight: bold;
    color: var(--blanco-primario);
    box-shadow: 0 1rem 1rem -0.1rem var(--sombra-primaria);
    transition: all .2s ease-out;
}

/* Section principal devices */

@media screen and (max-width: 1400px) {
    .store-container-wrapper {
        grid-template-columns: 1fr 80% 1fr;
    }
}

@media screen and (max-width: 1280px) {
    .store-container-wrapper {
        grid-template-columns: 1fr 90% 1fr;
    }
    
    .store-container {
        grid-template-columns: 50% 50%;
        gap: 0;
    }

    .div_container_product{
        min-height: 40rem;
    }

    .li_itemslist{
        margin-left: 0;
        margin-right: 0;
        border: 1px solid var(--sombra-primaria);
        min-height: 50rem;
    }

    .div_details{
        margin-bottom: 0;
        margin-top: 2.8rem;
    }

    .ul_itemslist li {
        padding: .5rem;
    }

    .li_img_product{
        min-width: 22rem;
        min-height: 22rem;
    }

    .div_container_product h4{
        font-size: 2.5rem;
    }

    .div_details{
        width: 100%;
        font-size: 1.8rem;
        background-color: var(--negro-primario);
        color: var(--blanco-primario);
        font-weight: bold;
    }
}

@media screen and (max-width: 630px) {
    .store-container-wrapper {
        grid-template-columns: 1fr 8fr 1fr;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .store-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 374px) {
    .store-container {
        margin-left: -1.3rem;
    }
}

