.li_img_product {
    max-width: 15rem;
    transition: .2s all linear;
}

.store-container-wrapper {
    padding: 2rem;
}

.li_img_product:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s all linear;
}

.store-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
}

@media (min-width: 1024px) {
    .store-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.ul_itemslist {
    list-style-type: none;
    display: contents;
}

.li_itemslist {
    background-color: #f9f9f9;
    padding: 16px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
}

